
:root{
    
  --MAIN-TEXT-color:#000; /* Color of text by default */
  --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
  --MAIN-LINK-color:#1C90F3; /* Color of links */
  --MAIN-LINK-HOVER-color:#167ad0; /* Color of hovered links */
  --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

  --MENU-HEADER-BG-color:#222; /* Background color of menu header */
  --MENU-HEADER-BORDER-color:#424141; /*Color of menu header border */ 

  --MENU-SEARCH-BG-color:#222; /* Search field background color (by default borders + icons) */
  --MENU-SEARCH-BOX-color: #111; /* Override search field border color */
  --MENU-SEARCH-BOX-ICONS-color: #eee; /* Override search field icons color */

  --MENU-SECTIONS-ACTIVE-BG-color:#20272b; /* Background color of the active section and its childs */
  --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
  --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
  --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
  --MENU-SECTION-ACTIVE-CATEGORY-color: rgb(122, 1, 255); /* Color of active category text */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

  --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
  --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
  
}

body {
  color: var(--MAIN-TEXT-color) !important;
}

.videocontainer {
  -webkit-box-shadow: 3px 3px 42px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 42px -5px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 42px -5px rgba(0,0,0,0.75);
  text-align: center;
  max-width: 730px;
  margin: auto;
  background-color: black;
}

.imagecontainer {
  text-align: center;
  margin: 2.5rem;
}

.imagecontainer img {
  -webkit-box-shadow: 3px 3px 42px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 42px -5px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 42px -5px rgba(0,0,0,0.75);
}

.showcase-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.showcase-container img {
border: 1px solid #555;
}

.showcase-container h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#top-bar {
  background: #FFF;
  border-radius: 5px;
  padding: 0 1rem;
  height: 0;
  min-height: 3rem;
}
#top-github-link {
  position: relative;
  z-index: 1;
  float: right;
  display: block;
  font-size: 1rem;
}
#body #breadcrumbs {
  height: auto;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  display: inline-block;
  font-size: 1rem;
  float: left;
}
#body #breadcrumbs span {
  padding: 0 0.1rem;
}

body {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 18px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
  border-color: none;
  box-shadow: none;
}

h2, h3, h4, h5 {
  color: var(--MAIN-TITLES-TEXT-color) !important;
}

h2 {
  border-bottom: 1px solid black;
}

a {
  color: var(--MAIN-LINK-color);
}

.anchor {
  color: var(--MAIN-ANCHOR-color);
}

a:hover {
  color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
color: var(--MENU-VISITED-color);
}

#chapter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}
#chapter #body-inner {
  padding-bottom: 3rem;
  max-width: 80%;
}
#chapter h3 {
  font-family: "Open Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
}
#chapter h1 {
  font-size: 5rem;
  border-bottom: 4px solid #F0F2F4;
}
#chapter p {
  text-align: left;
  font-size: 1rem;
  font-family: "Open Sans";
}

#body a.highlight:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
  background: var(--MENU-HEADER-BG-color);
  color: var(--MENU-SEARCH-BOX-color);
  border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
border-color: var(--MENU-SEARCH-BOX-color);
  background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
  color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
  color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
  color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
  background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
  color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
  border-color: var(--MENU-SECTION-HR-color);
}

@font-face {
  font-family: 'Good Times Rg';
  src: url('../fonts/GoodTimesRg-Regular.eot');
  src: url('../fonts/GoodTimesRg-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GoodTimesRg-Regular.woff2') format('woff2'),
      url('../fonts/GoodTimesRg-Regular.woff') format('woff'),
      url('../fonts/GoodTimesRg-Regular.ttf') format('truetype'),
      url('../fonts/GoodTimesRg-Regular.svg#GoodTimesRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body #chapter h1 {
  font-size: 3rem;
  font-family: "Good Times Rg";
  letter-spacing: 0.3rem;
}

h1 {
  font-family: "Good Times Rg", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #222;
  font-weight: 200;
}


